<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteTest_Suite" verbose = "2" parallel="classes" thread-count ="1">
	<parameter name = "runParallel" value = "true" />
	<parameter name = "enviroment" value = "config.properties" />
	<parameter name = "browser" value = "Chrome" />
	<parameter name = "hubURL" value = "http://localhost:4444/wd/hub" />
	
	
	<listeners>
		<listener class-name="extentreport.ExtentReporterNG" />
		
	</listeners>
	
  <test name="Test">
  		<groups>
			<run>
				<include name="Smoke" />
			</run>
		</groups>
    <classes>
      <class name="testScenario.ReadMovieInfoTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
